---
import GitHubIcon from "./icons/GitHub.astro";
import WebBrowserIcon from "./icons/WebBrowser.astro";
import Angular from "./icons/Angular.astro";
import NGRX from "./icons/NGRX.astro";
import NextJS from "./icons/NextJS.astro";
import Tailwind from "./icons/Tailwind.astro";
import Arrow_Right from "./icons/Arrow_Right.astro";
import Arrow_Left from "./icons/Arrow_Left.astro";

const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: NextJS,
  },
  ANGULAR: {
    name: "Angular",
    class: "bg-[blueviolet] text-white",
    icon: Angular,
  },
  NGRX: {
    name: "NGRX",
    class: "bg-[#ba2bd2] text-white",
    icon: NGRX,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
};
const PROJECTS = [
  {
    title: "MyDayApp",
    description:
      "MyDayApp es una aplicación para gestionar tareas de forma sencilla y fácil, trabajada con Angular y NGRX",
    link: "https://todoappexercise.netlify.app/",
    github:
      "https://github.com/Adriana031991/excercie-laboratorio-mydayapp-angular?tab=readme-ov-file",
    image: "/projects/my_day_app.png",
    tags: [TAGS.ANGULAR, TAGS.NGRX],
  },
  {
    title: "MyDayApp",
    description:
      "MyDayApp es una aplicación para gestionar tareas de forma sencilla y fácil, trabajada con Angular y NGRX",
    link: "https://todoappexercise.netlify.app/",
    github:
      "https://github.com/Adriana031991/excercie-laboratorio-mydayapp-angular?tab=readme-ov-file",
    image: "/adriana.jpg",
    tags: [TAGS.ANGULAR, TAGS.NGRX],
  },
  {
    title: "MyDayApp",
    description:
      "MyDayApp es una aplicación para gestionar tareas de forma sencilla y fácil, trabajada con Angular y NGRX",
    link: "https://todoappexercise.netlify.app/",
    github:
      "https://github.com/Adriana031991/excercie-laboratorio-mydayapp-angular?tab=readme-ov-file",
    image: "/projects/my_day_app.png",
    tags: [TAGS.ANGULAR, TAGS.NGRX],
  },
  {
    title: "MyDayApp",
    description:
      "MyDayApp es una aplicación para gestionar tareas de forma sencilla y fácil, trabajada con Angular y NGRX",
    link: "https://todoappexercise.netlify.app/",
    github:
      "https://github.com/Adriana031991/excercie-laboratorio-mydayapp-angular?tab=readme-ov-file",
    image: "/projects/my_day_app.png",
    tags: [TAGS.ANGULAR, TAGS.NGRX],
  },
  {
    title: "MyDayApp",
    description:
      "MyDayApp es una aplicación para gestionar tareas de forma sencilla y fácil, trabajada con Angular y NGRX",
    link: "https://todoappexercise.netlify.app/",
    github:
      "https://github.com/Adriana031991/excercie-laboratorio-mydayapp-angular?tab=readme-ov-file",
    image: "/adriana.jpg",
    tags: [TAGS.ANGULAR, TAGS.NGRX],
  },
  {
    title: "MyDayApp",
    description:
      "MyDayApp es una aplicación para gestionar tareas de forma sencilla y fácil, trabajada con Angular y NGRX",
    link: "https://todoappexercise.netlify.app/",
    github:
      "https://github.com/Adriana031991/excercie-laboratorio-mydayapp-angular?tab=readme-ov-file",
    image: "/projects/my_day_app.png",
    tags: [TAGS.ANGULAR, TAGS.NGRX],
  },
  {
    title: "MyDayApp",
    description:
      "MyDayApp es una aplicación para gestionar tareas de forma sencilla y fácil, trabajada con Angular y NGRX",
    link: "https://todoappexercise.netlify.app/",
    github:
      "https://github.com/Adriana031991/excercie-laboratorio-mydayapp-angular?tab=readme-ov-file",
    image: "/projects/my_day_app.png",
    tags: [TAGS.ANGULAR, TAGS.NGRX],
  },
  {
    title: "MyDayApp",
    description:
      "MyDayApp es una aplicación para gestionar tareas de forma sencilla y fácil, trabajada con Angular y NGRX",
    link: "https://todoappexercise.netlify.app/",
    github:
      "https://github.com/Adriana031991/excercie-laboratorio-mydayapp-angular?tab=readme-ov-file",
    image: "/projects/my_day_app.png",
    tags: [TAGS.ANGULAR, TAGS.NGRX],
  },
  {
    title: "MyDayApp",
    description:
      "MyDayApp es una aplicación para gestionar tareas de forma sencilla y fácil, trabajada con Angular y NGRX",
    link: "https://todoappexercise.netlify.app/",
    github:
      "https://github.com/Adriana031991/excercie-laboratorio-mydayapp-angular?tab=readme-ov-file",
    image: "/adriana.jpg",
    tags: [TAGS.ANGULAR, TAGS.NGRX],
  },
  {
    title: "MyDayApp",
    description:
      "MyDayApp es una aplicación para gestionar tareas de forma sencilla y fácil, trabajada con Angular y NGRX",
    link: "https://todoappexercise.netlify.app/",
    github:
      "https://github.com/Adriana031991/excercie-laboratorio-mydayapp-angular?tab=readme-ov-file",
    image: "/projects/my_day_app.png",
    tags: [TAGS.ANGULAR, TAGS.NGRX],
  },
  {
    title: "MyDayApp",
    description:
      "MyDayApp es una aplicación para gestionar tareas de forma sencilla y fácil, trabajada con Angular y NGRX",
    link: "https://todoappexercise.netlify.app/",
    github:
      "https://github.com/Adriana031991/excercie-laboratorio-mydayapp-angular?tab=readme-ov-file",
    image: "/adriana.jpg",
    tags: [TAGS.ANGULAR, TAGS.NGRX],
  },
];
---

<script src="../scripts/projects_carousel.ts"></script>

<article class="flex">
  <div class="w-2/12 flex items-center">
    <div class="w-full text-right">
      <button
        id="prev"
        class="p-3 rounded-full bg-white border border-gray-100 shadow-lg mr-5"
      >
        <Arrow_Left />
      </button>
    </div>
  </div>
  <div id="sliderContainer" class="overflow-hidden">
    <ul id="slider" class="flex w-full transition-margin duration-700">
      {
        PROJECTS.map(({ image, title, description, tags, link, github }) => (
          <>
            <li class="p-5 carousel" id="carousel">
              <div class="border rounded-lg p-5 h-full">
                <h3 class="text-2xl font-semibold text-yellow-800 dark:text-yellow-200 mb-2">
                  {title}
                </h3>
                <p class="text-md mb-4 text-pretty">{description}</p>
                <ul class="flex flex-wrap gap-x-2 gap-y-2 flex-row my-2">
                  {tags.map((tag) => (
                    <li>
                      <span
                        class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 border border-white/10`}
                      >
                        <tag.icon class="size-4" />
                        {tag.name}
                      </span>
                    </li>
                  ))}
                </ul>
                <img
                  loading="lazy"
                  class="rounded-md shadow-2xl shadow-white/35 aspect-video h-50 w-full object-cover"
                  src={image}
                  alt={`Captura de pantalla del proyecto ${image}`}
                />

                <ul class="flex flex-wrap gap-y-2 gap-x-2 flex-row my-2 border-transparent">
                  <li>
                    <a
                      href={link}
                      target="_blank"
                      class="flex gap-x-2 rounded-full text-xs py-1 px-2 border border-white/10 bg-gradient-to-tr from-cyan-50 to to-blue-500"
                    >
                      <WebBrowserIcon class="size-2 md:size-4" />
                      Host
                    </a>
                  </li>
                  <li>
                    <a
                      href={github}
                      target="_blank"
                      class={`flex gap-x-2 rounded-full text-xs py-1 px-2 border border-white/10 bg-gradient-to-tr from-[#b7ffff] to to-[#3a3272] text-white`}
                    >
                      <GitHubIcon class="size-2 md:size-4" />
                      Github
                    </a>
                  </li>
                </ul>
              </div>
            </li>
          </>

          // <article>
          //   <h3 class="text-2xl font-semibold text-yellow-800 dark:text-yellow-200 mb-2">
          //     {title}
          //   </h3>
          //   <p class="text-lg mb-4 text-pretty">{description}</p>
          //   <ul class="flex gap-x-2 flex-row mb-2">
          //     {tags.map((tag) => (
          //       <li>
          //         <span
          //           class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 border border-white/10`}
          //         >
          //           <tag.icon class="size-4" />
          //           {tag.name}
          //         </span>
          //       </li>
          //     ))}
          //   </ul>
          //   <ul class="flex gap-x-2 flex-row mb-2 border-transparent">
          //     <li>
          //       <a
          //         href={link}
          //         target="_blank"
          //         class="flex gap-x-2 rounded-full text-xs py-1 px-2 border border-white/10 bg-gradient-to-tr from-cyan-50 to to-blue-500"
          //       >
          //         <WebBrowserIcon class="size-2 md:size-4" />
          //         Host
          //       </a>
          //     </li>
          //     <li>
          //       <a
          //         href={github}
          //         target="_blank"
          //         class={`flex gap-x-2 rounded-full text-xs py-1 px-2 border border-white/10 bg-gradient-to-tr from-[#b7ffff] to to-[#3a3272] text-white`}
          //       >
          //         <GitHubIcon class="size-2 md:size-4" />
          //         Github
          //       </a>
          //     </li>
          //   </ul>
          //   <img
          //     loading="lazy"
          //     class="rounded shadow-2xl shadow-white/10 aspect-video"
          //     src={image}
          //     alt={`Captura de pantalla del proyecto ${image}`}
          //   />
          // </article>
        ))
      }
    </ul>
  </div>
  <div class="w-2/12 flex items-center">
    <div class="w-full text-right">
      <button
        id="next"
        class="p-3 rounded-full bg-white border border-gray-100 shadow-lg mr-5"
      >
        <Arrow_Right />
      </button>
    </div>
  </div>
</article>
